*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary: #065E7C;
  --white: #FFFFFF;
  font-size: 1rem;
}

body,input,textarea,button{
  font-family: 'Mulish', sans-serif;
}

@media(max-width: 48rem) {
#app{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'section'
  'footer';
  grid-template-rows: 4.5rem 1fr;
}

header{
  grid-area: header;
  display: grid;
  place-items: center;
  background-color: var(--primary);
  
  height: 4.5rem;
}

nav{
  display: flex;
  margin-right: 1.5rem;
  gap: 0.5rem;
}

nav > input {
  border: none;
  background-color: var(--white);
  width: 13rem;
  padding: 0.75rem;
  border-radius: 4px;
}

main {
  grid-area: main;
  background-color: var(--white);
  overflow-y: scroll;
  max-width: 26.875rem;
  overflow-x: hidden;
}

.banner{
margin-bottom:1.875rem;
padding-left: 1rem;
gap: 10rem;
}

.banner > h1{
  font-size: 1.3rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

p{
  max-width: 26.875rem;
  padding-left: 1rem;
}

section {
  grid-area: section;
  margin-top: 1.25rem;
  padding-left: 1rem;
}

article {
  display: grid;
  grid-template-areas:
  'preguica text'
  'balaio text'
  'cartela text'
  'frio text'
  'moacir text'
  ;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem 1rem;
  font-size: 0.875rem;
}
article > aside {

  padding-bottom: 1.25rem;
}
.preguica{
  grid-area: preguica;
  
  margin-bottom: 3.125rem;
}

.sabado > h3{
  margin-left: 13px;
}

.balaio{
  grid-area: balaio;
  
  margin-bottom: 3.125rem;
}

.balaio_gatos > h3{
  margin-left: 13px;
}

.cartela{
  grid-area: cartela;
  
  margin-bottom: 4.125rem;
}

.cartela_cores > h3{
  margin-left: 13px;
  
}

.frio{
  grid-area: frio;
  
  margin-bottom: 3.125rem;
}
.frio_gatos > h3{
  margin-left: 13px;
}
.moacir{
  grid-area: moacir;
  
  margin-bottom: 3.125rem;
}
.moacir_gato > h3{
  margin-left: 13px;
}
footer {
  grid-area: footer;
  background-color: var(--primary);
  display: grid;
  place-items: center;

  height: 4.5rem;
}
footer > p{
  text-align: center;
}
}

@media(min-width: 48rem) {
#app{
  display: grid;
  grid-template-areas: 
  'header header'
  'main section'
  'footer footer';
  grid-template-rows: auto 2fr 4rem;
  
  grid-template-column: 2fr;
  align-content: center;
  height: 120vh;
}

header{
  grid-area: header;
  justify-content: center;
  background-color: var(--primary);
  margin-bottom:1.875rem;
  height: 4.5rem
}

nav{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding:1.125rem 1.5rem;
}

nav > input {
  border: none;
  background-color: var(--white);
  color: var(--primary);
  padding: 0.75rem;
  width: 68rem;
  border-radius: 4px;
}

main {
  grid-area: main;
  background-color: var(--white);
  overflow: hidden;
  padding-left: 3rem;
  height: 100vh;
}

.banner {
  display: grid;
  grid-template-areas: 'title title like deslike';
  grid-template-columns: 2fr 3.125rem;
  margin-bottom: 1.875rem;
}

.banner > h1{
  grid-area: title;
  font-size: 1.5rem;
  
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.banner > .like {
  padding-right: 0.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  grid-area: like;
}

.banner > .deslike {
  margin-top: 1rem;
  grid-area: deslike;
}

.gato_main{
  width: 100%;
}

section {
  grid-area: section;
  margin-top: 1.25rem;
}

article {
  display: grid;
  grid-template-areas:
  'preguica text'
  'balaio text'
  'cartela text'
  'frio text'
  'moacir text'
  ;
  grid-template-columns: 10.5rem 1fr;
  padding: 1.25rem 1rem;
}

.preguica{
  grid-area: preguica;
  
  margin-bottom:1.875rem;
}

.balaio{
  grid-area: balaio;
  
  margin-bottom:1.875rem
}

.cartela{
  grid-area: cartela;
  
  margin-bottom:1.875rem
}

.frio{
  grid-area: frio;
  
  margin-bottom:1.875rem
}

.moacir{
  grid-area: moacir;
  
  margin-bottom:1.875rem
}

footer {
  grid-area: footer;
  background-color: var(--primary);
  display: grid;
  place-items: center;
}

footer > p {
  text-align: center;
  margin: 0;
}
}